.THIS.HeroBlock {
    position: relative;
    height: 500px;
    background: white url('https://i2.wp.com/www.123freevectors.com/wp-content/original/108129-light-blue-wave.jpg?w=800&q=95') no-repeat;
    background-position: center;
    background-size: cover;
}