<template>
    <template if:false={_bActiveSection}>
        <lightning-layout vertical-align="stretch">
            <lightning-layout-item flexibility="auto" padding="around-small" class="slds-text-align_center slds-p-around_small" size="1">
                <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error" size="large">
                </lightning-icon>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                <p class="slds-text-heading_medium">{_label.OmniScriptError}</p>
                <p class="bold">{_label.OmniScriptNotFound3}</p>
                <dl class="slds-dl_inline">
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptType}:</strong></dt>
                    <dd class="slds-dl_inline__detail">test_rsa</dd>
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptSubType}:</strong></dt>
                    <dd class="slds-dl_inline__detail">IP</dd>
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptLang}:</strong></dt>
                    <dd class="slds-dl_inline__detail">English</dd>
                </dl>
                <p class="footer-message">{_label.OmniScriptNotFound2}</p>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    <template if:true={_bActiveSection}>
        <template if:false={compLoaded}>
            <div class="slds-spinner-container__wrapper">
                <vlocity_ins-spinner variant="brand"
                                    alternative-text="Loading.."
                                    size="medium">
                </vlocity_ins-spinner>
            </div>
        </template>
        <template if:true={firstRender}>
            <article class="omniscript-article slds-card slds-grid slds-wrap"
                    data-content-position={stepChartProps.position}>
                <vlocity_ins-omniscript-step-chart json-def={jsonDef}
                                                    json-data={jsonDef.response}
                                                    if:false={jsonDef.propSetMap.hideStepChart}
                                                    data-omni-key='omniscriptStepChart'
                                                    class="slds-col slds-m-top_x-small slds-p-left_large slds-size_1-of-1"
                                                    props={stepChartProps}
                                                    layout={layout}>
                </vlocity_ins-omniscript-step-chart>
                <div data-stepborder={stepChartProps.position}
                    class={contentSldsClass}>
                    <template if:true={pageLoading}>
                        <vlocity_ins-spinner variant="brand"
                                            alternative-text="Loading..."
                                            extraouterclass="slds-theme_default"
                                            size="medium">
                        </vlocity_ins-spinner>
                    </template>
                    <template for:each={jsonDef.children} for:item="item" for:index="idx"><vlocity_ins-omniscript-step if:true={item.bStep} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={item.children} for:item="itemChild0" for:index="itemChild0Idx"><template for:each={itemChild0.eleArray} for:item="itemChild0Ele" for:index="itemChild0Idx"><vlocity_ins-omniscript-checkbox if:true={itemChild0Ele.bCheckbox} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-checkbox><vlocity_ins-omniscript-currency if:true={itemChild0Ele.bCurrency} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-currency><vlocity_ins-omniscript-dr-extract-action if:true={itemChild0Ele.bDataRaptorExtractAction} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef}></vlocity_ins-omniscript-dr-extract-action></template></template></vlocity_ins-omniscript-step></template>
                    <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium">
                        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"></div>
                        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
                            <div class="slds-grid slds-wrap slds-grid_align-end">
                                <template if:true={hasPrev}>
                                        <vlocity_ins-button type="button"
                                                            label={navButton.previous.label}
                                                            variant="brand"
                                                            class={navButton.previous.classes}
                                                            extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
                                                            onclick={prevStep}>
                                        </vlocity_ins-button>
                                </template>
                                <template if:true={hasNext}>
                                        <vlocity_ins-button type="button"
                                                            label={navButton.next.label}
                                                            variant="brand"
                                                            class={navButton.next.classes}
                                                            extraclass="slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
                                                            onclick={nextStep}>
                                        </vlocity_ins-button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <template for:each={modalEvents}
                    for:item="modallvl1"
                    for:index="indexlvl1">
                <vlocity_ins-omniscript-modal data-omni-key='omnimodal'
                                            key={modallvl1.modalHeader}
                                            type={modallvl1.type}
                                            layout={layout}
                                            hide-footer={modallvl1.hideFooter}
                                            hide-header={modallvl1.hideHeader}>
                    <div slot="header">
                        <h1>{modallvl1.modalHeader}</h1>
                    </div>
                    <div slot="content">
                        {modallvl1.modalMessage}
                    </div>
                    <div slot="footer">
                        <ul class="slds-button-group-row">
                            <template for:each={modallvl1.buttons}
                                    for:item="modalbutton"
                                    for:index="modalbuttonindex">
                                <template if:true={modalbutton.label}>
                                    <li class="slds-button-group-item"
                                        key={modalbutton.key}>
                                        <lightning-button label={modalbutton.label}
                                                        value={indexlvl1}
                                                        onclick={modalbutton.handleClick}>
                                        </lightning-button>
                                    </li>
                                </template>
                            </template>
                        </ul>
                    </div>
                </vlocity_ins-omniscript-modal>
            </template>
        </template>
    </template>
</template>