<template>
    <template if:false={_bActiveSection}>
        <lightning-layout vertical-align="stretch">
            <lightning-layout-item flexibility="auto" padding="around-small" class="slds-text-align_center slds-p-around_small" size="1">
                <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error" size="large">
                </lightning-icon>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                <p class="slds-text-heading_medium">{_label.OmniScriptError}</p>
                <p class="bold">{_label.OmniScriptNotFound3}</p>
                <dl class="slds-dl_inline">
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptType}:</strong></dt>
                    <dd class="slds-dl_inline__detail">test_rsa</dd>
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptSubType}:</strong></dt>
                    <dd class="slds-dl_inline__detail">IP</dd>
                    <dt class="slds-dl_inline__label"><strong>{_label.OmniScriptLang}:</strong></dt>
                    <dd class="slds-dl_inline__detail">English</dd>
                </dl>
                <p class="footer-message">{_label.OmniScriptNotFound2}</p>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    <template if:true={_bActiveSection}>
        <div class="via-nds">
            <template if:false={compLoaded}>
                <div class="omni-spinner-container_wrapper">
                    <vlocity_ins-spinner variant="brand"
                                        alternative-text="Loading.."
                                        theme={_theme}
                                        size="medium">
                    </vlocity_ins-spinner>
                </div>
            </template>
            <template if:true={firstRender}>
                <article class="nds-card nds-grid nds-theme_default nds-grid_vertical">
                    <div class="nds-card__body nds-card__body_inner nds-m-top_medium">
                        <vlocity_ins-omniscript-step-chart json-def={jsonDef}
                                                            json-data={jsonDef.response}
                                                            if:false={jsonDef.propSetMap.hideStepChart}
                                                            data-omni-key='omniscriptStepChart'
                                                            props={stepChartProps}
                                                            layout={layout}>
                        </vlocity_ins-omniscript-step-chart>
                        <template if:true={pageLoading}>
                            <vlocity_ins-spinner variant="brand"
                                                alternative-text="Loading..."
                                                extraouterclass="nds-theme_default"
                                                theme={_theme}
                                                size="medium">
                            </vlocity_ins-spinner>
                        </template>
                        <template for:each={jsonDef.children} for:item="item" for:index="idx"><vlocity_ins-omniscript-step if:true={item.bStep} key={item.lwcId} json-def={item} data-omni-key={item.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}><template for:each={item.children} for:item="itemChild0" for:index="itemChild0Idx"><template for:each={itemChild0.eleArray} for:item="itemChild0Ele" for:index="itemChild0Idx"><vlocity_ins-omniscript-checkbox if:true={itemChild0Ele.bCheckbox} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-checkbox><vlocity_ins-omniscript-currency if:true={itemChild0Ele.bCurrency} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef} seed-json={jsonDef.propSetMap.seedDataJSON}></vlocity_ins-omniscript-currency><vlocity_ins-omniscript-dr-extract-action if:true={itemChild0Ele.bDataRaptorExtractAction} key={itemChild0Ele.lwcId} json-def={itemChild0Ele} data-omni-key={itemChild0Ele.name} json-data={jsonDef.response} layout={layout} resume={resume} script-header-def={scriptHeaderDef}></vlocity_ins-omniscript-dr-extract-action></template></template></vlocity_ins-omniscript-step></template>
                    </div>
                    <div class="nds-m-around_small">
                        <div class="nds-grid nds-grid_align-center">
                            <div class="nds-grid nds-grid_align-center nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">
                                <template if:true={hasNext}>
                                    <vlocity_ins-button type="button"
                                                        variant="brand"
                                                        onclick={nextStep}
                                                        class={navButton.next.classes}
                                                        label={navButton.next.label}
                                                        extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                        theme={_theme}>
                                    </vlocity_ins-button>
                                </template>
                            </div>
                        </div>
                        <div class="nds-grid nds-grid_align-center">
                            <div class="nds-grid nds-grid_align-center nds-wrap nds-button-group-row nds-size_1-of-1 nds-medium-size_8-of-12 nds-p-horizontal_medium">
                                <template if:true={hasPrev}>
                                    <vlocity_ins-button type="button"
                                                        variant="neutral"
                                                        onclick={prevStep}
                                                        label={navButton.previous.label}
                                                        class={navButton.previous.classes}
                                                        extraclass="nds-button_stretch nds-p-around_xx-small nds-size_1-of-1"
                                                        theme={_theme}>
                                    </vlocity_ins-button>
                                </template>
                            </div>
                        </div>
                    </div>
                </article>
                <template for:each={modalEvents}
                        for:item="modallvl1"
                        for:index="indexlvl1">
                    <vlocity_ins-omniscript-modal data-omni-key='omnimodal'
                                                key={modallvl1.modalHeader}
                                                type={modallvl1.type}
                                                layout={layout}
                                                hide-footer={modallvl1.hideFooter}
                                                hide-header={modallvl1.hideHeader}>
                        <div slot="header">
                            <h1>{modallvl1.modalHeader}</h1>
                        </div>
                        <div slot="content">
                            {modallvl1.modalMessage}
                        </div>
                        <div slot="footer">
                            <ul class="slds-button-group-row">
                                <template for:each={modallvl1.buttons}
                                        for:item="modalbutton"
                                        for:index="modalbuttonindex">
                                    <template if:true={modalbutton.label}>
                                        <li class="slds-button-group-item"
                                            key={modalbutton.key}>
                                            <lightning-button label={modalbutton.label}
                                                            value={indexlvl1}
                                                            onclick={modalbutton.handleClick}>
                                            </lightning-button>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </vlocity_ins-omniscript-modal>
                </template>
            </template>
        </div>
    </template>
</template>