<apex:page controller="bkrCISME_ReassignCase_Controller" tabStyle="Case" sidebar="false" lightningStylesheets="true">
    <apex:includeScript value="/support/console/32.0/integration.js"/>
    <apex:includeScript value="{!URLFOR($Resource.bkrBootstrap_335,'/js/jquery_1_11_3.min.js')}"/>
    <script src="/soap/ajax/33.0/connection.js" type="text/javascript"/>
    <script src="/soap/ajax/33.0/apex.js" type="text/javascript"/>
    <apex:outputpanel id="page">
        <script>

        // ***
        // On button click retrieve the focused Case Tab info
        // ***           
        function refreshTab() {
            debugger;
            //First find the ID of the current tab to close it
            sforce.console.getFocusedPrimaryTabId(function (result) {
                console.log(result);
                if({!closePage}){
                    sforce.console.refreshNavigationTab();   
                    sforce.console.closeTab(result.id);
                    sforce.console.setCustomConsoleComponentVisible(false);   
                }else if({!refreshPage}){
                    sforce.console.refreshPrimaryTabById(result.id,true,refreshSuccess);
                }
            });
        }
        
        var refreshSuccess = function refreshSuccess(result) {
            //Report whether refreshing the primary tab was successful
            if (result.success == true) {
                //alert('Primary refresh');
            } else {
                alert("{!$Label.bkrCISME_ConsoleTabRefreshError}");
            }
        };            
        
        </script>  
        <apex:form id="fm">

            <apex:actionFunction action="{!validateCaseIds}" name="validateCaseIds" reRender="page" status="status">
                <apex:param name="caseId" value="" assignTo="{!caseId}" />              
            </apex:actionFunction>
            
            <apex:actionstatus id="status" startText="Requesting...">
               <apex:facet name="start">
                   <c:ProgressComponent Message="Processing..." Width="104px" Height="104px"/>
               </apex:facet>
               <apex:facet name="stop"/>
            </apex:actionstatus>
            <!--
                    // ***
                    // Manually Assign Queue
                    // ***   
            -->         
            <apex:pageBlock id="pb" > 
                <apex:pageBlockButtons location="bottom" rendered="{!!ISNULL(c)}">
                    <apex:commandButton action="{!assignQueue}" onclick="retrieveTabCaseId();" value="Assign" reRender="page" status="status" style="width:100px" oncomplete="refreshTab()"/>            
                </apex:pageBlockButtons>                    
                <apex:pageMessages ></apex:pageMessages>    
                <apex:outputPanel rendered="{!ISNULL(c)}"> 
                    <apex:pageMessage summary="{!$Label.bkrCISME_Case_ReassignCaseInstructions}" severity="warning" strength="0"/>     
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!ISNULL(c)}"> 
                    <apex:pageMessage summary="{!$Label.Assign_Submission_to_appropriate_Queue}" severity="info" strength="0"/>  
                
                    <apex:pageBlockSection columns="1" collapsible="false" >
                        <apex:pageBlockSectionItem >

                            <apex:outputLabel >{!$Label.Queue_Name}</apex:outputLabel>
                            <apex:selectList value="{!queueId}" multiselect="false" size="1" >
                                <apex:selectOption itemLabel="--Not Selected--" itemValue=""/>
                                <apex:selectOptions value="{!QueueSobjectList}"/>
                            </apex:selectList> 
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>                        
                </apex:outputPanel>  

            </apex:pageBlock>
        </apex:form>
    </apex:outputpanel>
    <script>
    // ***
    // On button click retrieve the focused Case Tab info
    // ***           
    function isLightningExperienceOrSalesforce1(){
            return((typeof sforce != 'undefined') && sforce && (!!sforce.one)); 
            }

    var retrieveTabCaseId = function (result) {
        console.log('validateCaseIds(result.id);1 ', window. location. href);
        if(isLightningExperienceOrSalesforce1()){
            console.log('validateCaseIds(result.id); ',result.id);
            // validateCaseIds('{!}');
        }else{
        sforce.console.getFocusedPrimaryTabObjectId(function (result) {
            console.log(result);
            validateCaseIds(result.id);
        });}
    };
    
    sforce.console.onCustomConsoleComponentButtonClicked(retrieveTabCaseId);
   
    </script>      
</apex:page>