<apex:page standardController="Opportunity" recordSetVar="Account" action="{!URLFOR('/' + $Setup.RSA_Custom_Settings__c.Filtered_Opportunities_Report_ID__c, null, [pv1=$CurrentPage.parameters.Id])}">
    /*<script>
        if((typeof sforce != 'undefined') && (sforce != null) ) {
            sforce.one.navigateToURL('/{!$Setup.RSA_Custom_Settings__c.Filtered_Activities_Report_ID__c}?pv1={!$CurrentPage.parameters.Id}', true);
        } else {
            window.location.href = '/{!$Setup.RSA_Custom_Settings__c.Filtered_Activities_Report_ID__c}?pv1={!$CurrentPage.parameters.Id}';
        }
    </script>*/
</apex:page>