<apex:page controller="mycontroller">
	<apex:form id="form">
		<apex:pageBlock >
			<!--<apex:pageBlockSection columns="1">-->
			<!--	<apex:pageBlockSectionItem>-->
			<!--		<apex:outputLabel>Objects</apex:outputLabel>-->
			<!--		<apex:selectList size="1" value="{!currentobject}">-->
			<!--			<apex:selectOptions value="{!objects}"/>-->
			<!--			<apex:actionSupport event="onchange" action="{!getfields}" reRender="form"/>-->
			<!--		</apex:selectList>-->
			<!--	</apex:pageBlockSectionItem>-->
			<!--	<apex:pageBlockSectionItem>-->
			<!--		<apex:outputLabel>Field</apex:outputLabel>-->
			<!--		<apex:selectList size="1" value="{!currentfield}">-->
			<!--			<apex:selectOptions value="{!fields}"/>-->
			<!--		</apex:selectList>-->
			<!--	</apex:pageBlockSectionItem>-->
			<!--</apex:pageBlockSection>-->
			<apex:pageBlockTable value="{!wrapList}" var="entry">
			    <apex:column value="{!entry.strLabel}" headerValue="Label"/>
			    <apex:column value="{!entry.strName}" headerValue="Name"/>
			    <apex:column value="{!entry.strType}" headerValue="Type"/>
			    <apex:column value="{!entry.strLength}" headerValue="Length"/>
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form>
</apex:page>