<apex:page >
    <apex:pageBlock >
      <apex:iframe src="https://qliksense.prod.rsagroup.ca/sense/app/a33d344f-2552-401d-9ca1-a4dbe04df0a4/sheet/a4918955-858e-4dc9-acd4-be462762addb/state/analysis"></apex:iframe>
    </apex:pageBlock>
</apex:page>