<apex:page standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0" language="{!$CurrentPage.parameters.LanguageCode}">

    <!--<apex:stylesheet value="/resource/1543191223000/FPWL_Angular/styles.css"/>
    <apex:stylesheet value="/resource/1543191223000/FPWL_Angular/styles-sme.css"/>
    <apex:stylesheet value="/resource/1543191223000/FPWL_Angular/styles-base.css"/>-->
    
    <script>
    
    </script>
    
    <!--<div id="header">-->
    <!--    <header class="page-header">-->
    <!--      <div class="page-header-top print-hide">-->
    <!--         <div class="container">-->
    <!--            <div class="flex-box-holder">-->
    <!--               <div class="flex-box-left">-->
    <!--                  <div class="logo">-->
    <!--                     <a href="#">-->
    <!--                     <img alt="RSA Insurance" src="{!URLFOR($Resource.FPWL_Assets, '/assets/img/RSA-pro.svg')}"/>-->
    <!--                     </a>-->
    <!--                  </div>-->
    <!--               </div>-->
    <!--               <div class="tealium hidden">-->
    <!--                  <input id="page_language" type="hidden" value="en"/>-->
    <!--                  <input id="page_brand" type="hidden" value="Atlantic"/>-->
    <!--               </div>-->
    <!--               <ul class="pull-right links" id="navigation">-->
                      <!--template bindings={}-->
                      <!--<li><a>Search for Quote</a></li>
    <!--                  <li><a>Log out</a></li>-->-->
    <!--                  <li>-->
    <!--                     <button class="btn purple purcls" type="button" disabled="" onclick="javascript:window.open('/apex/RSA_GuidedFlow?LanguageCode=en','_parent');">EN</button>-->
    <!--                     <button class="btn primary purcls" type="button" onclick="javascript:window.open('/apex/RSA_GuidedFlow?LanguageCode=fr','_parent');">FR</button>-->
    <!--                  </li>-->
    <!--               </ul>-->
    <!--            </div>-->
    <!--         </div>-->
    <!--      </div>-->
    <!--    </header>-->
    <!--</div>-->
    <!--<img class="sticky" src="https://vlocitydev-rsacanada.cs14.force.com/liveagent/resource/1485177230000/live_agent_online" alt="Avatar"/>-->

    <style>
        img.sticky {
          position: -webkit-sticky;
          position: sticky;
          top: 10;
          width: 200px;
          float:right;
        }
        .purcls{
            padding: 15px 10px !important;
            line-height: 0.3 !important;
        }
        .page-header {
            opacity: 1;
            filter: alpha(opacity=100);
            width: 100%;
            margin: 0;
            padding: 0;
            height: 126px;
            background-image: none;
        }
        header {
            position: relative;
            z-index: 20;
            float: left;
            width: 100%;
            padding: 10px 0;
            background: #f4f4f4;
            border-bottom: 2px solid #a9a9a9!important;
            box-shadow: 0 1px 8px rgba(0,0,0,.1);
            margin-bottom: 20px;
            height: auto!important;
        }
        .page-header .page-header-top {
            height: auto;
        }
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (min-width: 1200px)
        .container {
            width: 1170px;
        }
        header .flex-box-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: stretch;
            margin: 10px 0;
        }
        header .flex-box-left {
            display: flex;
            align-items: flex-start;
        }
        .logo img {
            height: 45px;
        }
        header ul.links {
            margin: 0;
            padding: 0;
            text-align: right;
        }
        .pull-right {
            float: right!important;
        }
        .btn.purple:not(.btn-outline) {
            color: #fff;
            background-color: #b327cc;
            border-color: #b327cc;
        }
        ul{
            list-style-type: none;
        }
        #footer {
            float: left;
        }
        footer {
            z-index: 21;
            text-align: left;
            background: #333;
            padding: 36px 0;
            position: relative;
            float: right;
        }
        footer p {
            margin: 0 auto;
            color: #fff;
            font-size: 13px;
        }
        footer p a, footer p span {
            color: #fff;
            display: inline;
        }
        /* custom css for chatbox*/
        .chat-container-hide{
            display:none;
        }
        [class*=" icon-"], [class^=icon-]
        {
            font-family: Linearicons;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
           
        }
        .chat-container-show{
            display:inline;
        }
         .chat-container{
            position: fixed;
            margin: 0;
            top: 400px;
            right: 0;
            z-index: 10;
            border: none;
            width: 250px;
        }
        .chat-container .chat-box {
            max-width: 250px;
            margin: 0 auto;
        }
        .chat-container .chat-box {
            display: block;
            text-decoration: none!important;
            background: #fff;
            border-radius: 5px;
            border: 3px solid #00c2db;
        }
        .chat-container .chat-box {
            margin: 0;
            width: auto;
            background: #f4f4f4;
        }
        .chat-container .chat-box .cta {
            padding: 5px;
            display: flex;
            display: -ms-flexbox;
            align-items: flex-start;
            -ms-flex-line-pack: start;
        }
        .chat-container .chat-box .cta {
            background: #fff;
           box-shadow: 0 1px 5px rgba(0,0,0,.3);
            position: relative;
            z-index: 8;
        }
        .chat-container a.chat-btn {
            text-decoration: none;
            background: #fff;
            border: 3px solid #00c2db;
            display: block;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            margin-top: 3px;
            color: #666;
        }
        
        .live-chat-container {
            top: auto;
            bottom: 190px;
            width: 350px;
            height: 500px;
        }
        
        .live-chat-container {
            position: fixed;
            right: 0;
            border: 3px solid #00c2db;
            border-radius: 5px;
            z-index: 2020;
            background: #f4f4f4;
        }
        .live-chat-container .title-container {
            position: relative;
            z-index: 2010;
            padding: 8px 15px;
            height: 32px;
            background: #fff;
            box-shadow: 1px 1px 5px rgba(0,0,0,.2);
        }
        
         .live-chat-container .title-container h3 {
            font-size: 22px;
            font-family: rsa_sansmedium;
            margin: 0;
            color: #666;
        }
        
        .live-chat-container .title-container h3 i {
            margin-right: 10px;
            font-size: 28px;
            color: #00c2db;
        }
        
        .live-chat-container .pull-left {
            float: left!important;
        }
        .live-chat-container .chat-unavailable {
            position: relative;
        }
        
        .live-chat-container .chat-unavailable .message-container {
            height: auto;
            float: left;
        }
        
        .live-chat-container .message-container, .live-chat-container iframe {
            position: relative;
            z-index: 2009;
            padding: 10px 15px;
            overflow-y: auto;
        }
        
        .live-chat-container .chat-unavailable .message-container p {
            padding-top: 0;
            margin-bottom: 10px;
        }
        
        .live-chat-container .message-container p, .live-chat-container iframe p {
            margin: 0;
            padding: 4px;
            color: #333;
            font-size: 14px;
        }
        
        .live-chat-container .chat-unavailable .form-group.form-md-line-input {
            padding-top: 25px;
        }
        
        .live-chat-container .chat-unavailable .form-group.add-margin-btm-5 {
            margin-bottom: 5px!important;
        }
        
        .live-chat-container .chat-unavailable .form-group.form-md-line-input {
            position: relative;
            margin: 0 0 35px;
        }
        
        .live-chat-container .chat-unavailable .form-group.form-md-line-input {
        padding-top: 25px;
        margin-bottom: 15px;
        }
        
        .live-chat-container .chat-unavailable .form-group textarea {
            height: 75px!important;
        }
        
        .live-chat-container .message-container a.btn-chat, .live-chat-container iframe a.btn-chat {
            padding: 3px 0!important;
            color: #666;
            text-transform: uppercase;
            font-size: 14px; 
            cursor: pointer;   
        }
        
        
        .live-chat-container .chat-unavailable .form-group input, .live-chat-container .chat-unavailable .form-group textarea {
            border: 1px solid #ccc!important;
            border-radius: 3px!important;
            width: 100%;
            height: 27px;
        }
        
        .form-group.form-md-line-input .form-control {
             color: #555;
             font-size: 14px;
        }
        
        .form-group.form-md-line-input .form-control[disabled], .form-group.form-md-line-input .form-control[readonly], fieldset[disabled] .form-group.form-md-line-input .form-control {
        cursor: not-allowed;
        }
        
        .live-chat-container .chat-unavailable .form-group input, .live-chat-container .chat-unavailable .form-group textarea {
        border: 1px solid #ccc!important;
        border-radius: 3px!important;
        }
        .i{
        font-style: normal;
        }
        
        .form-group.form-md-line-input .form-control {
        color: #555;
         }
         
        .form-group .form-md-line-input .remove-margin-top .add-margin-btm-5 {
        margin-bottom: 5px!important;
        }
        
        .form-group .form-md-line-input .remove-margin-top {
        margin-top: 0!important;
        }
        .form-control{
        width: 100%;
        }
        
        .form-group .form-md-line-input .form-control~label {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        pointer-events: none;
        }
        
         .phn{width: 61%;}
         .extn{
            z-index: 999;
            width: 27%;
            position: absolute;
            right: 16px;
            margin-top: -72px;
         }
        
        .form-group.form-md-line-input .form-control~label {
        top: 0;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        float: left;
        font-size: 14px;
        color: #888;
        opacity: 1;
        }
        
        .btn {
            float: right;
            margin-top: 6px;
        }
        
        .title-container img
        {float: left;}
        
        .live-chat-container .title-container h3{
        margin-top: -6px;
        }
        
        a.btn-chat .chat-send .pull-right {
        float: right!important;
        }
        
        a {
        text-shadow: none;
        }
        a
        
        a {
        color: #337ab7;
        text-decoration: none;
        }
        
        a {
        background-color: transparent;
        }
        
        .chat-box p {
        cursor: pointer;
        }
        .chat-box img {
            margin-top: 10px;
            margin-right: 8px;
            }
        .chat-container a{
        cursor: pointer;
        }
        
        .callbackflow{
        text-decoration: none;
        background: #fff;
        border: 3px solid #00c2db;
        display: block;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        margin-top: 3px;
        color: #666;
        }
        
       /* .chat-container .chat-box .cta i:before {
            font-size: 28px;
            color: #00c2db;
        }
        .icon-bubbles:before {
            content: "\E7D7";
        }*/
    </style>
    
    <!--<div class="vlocity via-slds" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="GetQuote">-->
    <!--    <vlocity_ins:BusinessProcessComponent strOmniScriptType="GuidedFlow"-->
    <!--        strOmniScriptSubType="SMEBroker"-->
    <!--        strOmniScriptLang="Multi-Language"-->
    <!--        previewMode="{!$CurrentPage.parameters.previewEmbedded}"-->
    <!--        verticalMode="{!$CurrentPage.parameters.verticalMode}"-->
    <!--        strOmniScriptId="{!$CurrentPage.parameters.designerPreviewId}"-->
    <!--        scriptLayout="newport"-->
    <!--        />-->
    <!--    <script type="text/javascript">-->
    <!--        var modules = ['vlocity-business-process'];-->
    <!--        var myModule = angular.module('GetQuote', modules);-->
    <!--    </script>-->

    <!--</div>-->
    <!--<vlocity_ins:VFActionFunction /> -->
    
    <!--<div id="footer">
        <footer><div class="container footer print-hide flex-grow-auto">
            <div>
                <p>
                    <a target="_blank" href="http://www.rsagroup.ca/your-privacy">Privacy Policy</a>
                    <span>|</span>
                    <a target="_blank" href="/resource/FPWL_AssetsPdf/BrokerUsageSecurityAgreement.pdf">Terms &amp; Conditions</a>
                </p>
                <p class="copyright">©2016. RSA, RSA &amp; design and related words and logos are trademarks of RSA Insurance Group plc, licensed for use by Royal &amp; Sun Alliance Insurance Company of Canada. RSA is a trade name of Royal &amp; Sun Alliance Insurance Company of Canada. All rights reserved.</p>
            </div>
            </div>
        </footer>
    </div>-->
      
      
    <div id="footer" style="position: fixed; margin: 0; top: 400px; right: 0; z-index: 10; border: none; width: 250px;">
       <img id="liveagent_button_online_573o00000004Ig3" style="display: none; border: 0px none; cursor: pointer; width:100px; float:right;" onclick="showPopUpOnline(); /*liveagent.startChat('573o00000004Ig3')*/" src="https://vlocitydev-rsacanada.cs14.force.com/liveagent/resource/1485177230000/live_agent_online" />
       <img id="liveagent_button_offline_573o00000004Ig3" style="display: none; border: 0px none; cursor: pointer; width:100px; float:right;" onclick="showPopUpOffline();"  src="https://vlocitydev-rsacanada.cs14.force.com/liveagent/resource/1485177229000/live_agent_offline" />
      
      <div class="chat-container capture-form chat-container-hide" id="offLineChatBox">
        <div class="chat-box hidden-xs" >
           <div class="cta">
           <img alt="chatbubble" height="30" src="https://rsa--vlocitydev--c.cs14.visual.force.com/resource/1485177230000/live_agent_online?" width="30"/>
             <h3 class="title pull-left"><i aria-hidden="true" class="far fa-comments">
             </i>Chat
             </h3>
           </div>
           <div><p>Sorry! We are unavailable right now.</p></div>
         </div>
         <a class="chat-btn capture-value" id="chat-cta" onclick="OpenCallBack();">
           Request a call back</a>
       </div>
      
      
      
      <div class="chat-container capture-form chat-container-hide" id="onLineChatBox" >
        <div class="chat-box hidden-xs" >
           <div class="cta">
           <img alt="chatbubble" height="30" src="https://rsa--vlocitydev--c.cs14.visual.force.com/resource/1485177230000/live_agent_online?" width="30"/>
             <h3 class="title pull-left"><i aria-hidden="true" class="far fa-comments">
             </i>Chat
             </h3>
           </div>
           <!---<div onclick="liveagent.startChat('573o00000004Ig3')"><p>Click to chat. (M-F, 9AM-5PM, loacl time)</p></div>-->
           
           <div onclick="liveagent.startChatWithWindow('573o00000004Ig3','consoleiframe')"><p>Click to chat. (M-F, 9AM-5PM, loacl time)</p></div>
           
         </div>
         
         <a class="chat-btn capture-value" id="chat-cta" onclick="OpenCallBack();">
           Request a call back</a>
          
       </div>
       
       
       
       <!---For call-back -->
        <div class="live-chat-container chat-container-hide" style="visibility: visible; " id="callBackForm">
          <live-chat><div>
          <div class="title-container">
          <img src="https://rsa--vlocitydev--c.cs14.visual.force.com/resource/1485177230000/live_agent_online?" alt="chatbubble" height="30" width="30"/>
          <h3 class="title pull-left"><i aria-hidden="true" class="far fa-comments"></i>Chat</h3>
          <!--template bindings={}-->
          <div class="clearfix"></div>
          <!--template bindings={}--><button class="btn white btn-close" tabindex="0" type="button" onclick="closeWin()">
          <span class="modal-close-icon">×</span>
        </button>
        </div>
        <!--template bindings={}-->
        <!--template bindings={}--><div class="chat-unavailable">
        <!--template bindings={}-->
        <!--template bindings={}--><div class="message-container">
            <p class="add-margin-btm-15 remove-padding-h">We will call you!<br></br> 
            Leave us a message as we will get back to you ASAP. It will be within one business day.</p>
            
            
            <div class="form-group form-md-line-input remove-margin-top">
                <input class="form-control add-padding-v-5" id="brokername" type="text" readonly="true" value="{!$User.FirstName} {!$User.LastName}"/>
                <label for="brokername">
                  <i class="show-label">
                    Your name
                  </i>
                </label>
            </div>
            <div class="clearfix"></div>
            
            
            <div class="form-group form-md-line-input remove-margin-top">
                <input class="form-control add-padding-v-5" id="brokeremail" readonly="true" type="text" value="sudipta.ghosh5@cognizant.com"/>
                <label for="brokeremail">
                  <i class="show-label">
                    Email
                  </i>
                </label>
            </div>
            <div class="clearfix"></div>
            
            
            <div class="row">
                <div class="phn">
                    <div class="form-group form-md-line-input remove-margin-top">
                        <input class="form-control add-padding-v-5" id="brokerphone" readonly="true" type="text" value="{!$User.phone}"/>
                        <label for="brokerphone">
                          <i class="show-label">
                            Phone #
                          </i>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="extn">
                    <div class="form-group form-md-line-input remove-margin-top">
                        <input class="form-control add-padding-v-5" id="brokerext" readonly="true" type="text"></input>
                        <label for="brokerext">
                          <i class="show-label">
                            Ext
                          </i>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            
            <div class="form-group form-md-line-input remove-margin-top add-margin-btm-5">
                <textarea class="form-control" id="brokermessage" type="text" placeholder="Write a message..."></textarea>
                <label for="brokermessage">
                  <i class="show-label">
                    What is your message for us? (required)
                  </i>
                </label>
            </div>
            <div class="clearfix"></div>
            
            <a class="btn-chat chat-send pull-right" type="button">
              Send
            </a>
        </div>
    </div>

</div>
</live-chat>
  <live-chat-buttons><!--template bindings={}--></live-chat-buttons>
</div>
        
        
      <!-- End of callback window -->
      <div class= "livechatcta">
           <div class="title-container">
              <img alt="chatbubble" height="30" src="https://rsa--vlocitydev--c.cs14.visual.force.com/resource/1485177230000/live_agent_online?" width="30"/>
              <h3 class="title pull-left"><i aria-hidden="true" class="far fa-comments"></i>Chat</h3>
          
                  <div class="clearfix"></div>
                  <button class="btn white btn-close" onclick="closeWin()" tabindex="0" type="button">
                  <span class="modal-close-icon">×</span>
                  </button>
           </div>
           <div>
              <iframe name="consoleiframe" style="height: 500px;width: 400px; float: right; border: none;">
                 My Chat window....
              </iframe>
           </div>
           <div class='callbackflow'>
           <a class="chat-btn capture-value" id="chat-cta" onclick="OpenCallBack();">
           Request a call back</a>
           </div>
      </div>
      
        <script type="text/javascript">
           if (!window._laq) { window._laq = []; }
           window._laq.push(function(){liveagent.showWhenOnline('573o00000004Ig3', document.getElementById('liveagent_button_online_573o00000004Ig3'));
           liveagent.showWhenOffline('573o00000004Ig3', document.getElementById('liveagent_button_offline_573o00000004Ig3'));
           });
           
           function showPopUpOffline(){
               var element = document.getElementById("offLineChatBox");
               element.classList.remove("chat-container-hide");
               element.classList.add("chat-container-show");
           }
           
           function showPopUpOnline(){
               var element = document.getElementById("onLineChatBox");
               element.classList.remove("chat-container-hide");
               element.classList.add("chat-container-show");
           }
          
          function OpenCallBack(){
               var element = document.getElementById("callBackForm");
               element.classList.remove("chat-container-hide");
               element.classList.add("chat-container-show");
               element.style.visibility = "visible";
               
                var element = document.getElementById("onLineChatBox");
                element.classList.add("chat-container-hide");
                element.classList.remove("chat-container-show");
               
               var element = document.getElementById("offLineChatBox");
               element.classList.add("chat-container-hide");
               element.classList.remove("chat-container-show");
          }
         function startChatWithWindow(){
               var element = document.getElementById("liveAgentClientChat");
               element.classList.remove("chat-container-hide");
               element.classList.add("chat-container-show");
               
               
                var element = document.getElementById("onLineChatBox");
                element.classList.add("chat-container-hide");
                element.classList.remove("chat-container-show");
               
               var element = document.getElementById("offLineChatBox");
               element.classList.add("chat-container-hide");
               element.classList.remove("chat-container-show");
               
              
          } 

        </script>
        <script type='text/javascript' src='https://c.la1-c2cs-iad.salesforceliveagent.com/content/g/js/45.0/deployment.js'></script>
        <script type='text/javascript'>
            liveagent.init('https://d.la1-c2cs-iad.salesforceliveagent.com/chat', '572o00000004Hrx', '00Dc0000003kucm');
        </script>
        
        <script>
            function closeWin() {
                console.log("Enter the close button code");
                var element = document.getElementById("callBackForm");
                element.style.visibility = "hidden";
                console.log("Finished the close button code");
            }
        </script>
        
    </div>
    
</apex:page>